/* reset website pages */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  height: 56px;
  background: #ff5959;
  border-radius: 5px;
  color: #ffffff;
  padding: 16px 12px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.section-title {
  margin-top: 130px;
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #121212;
  text-align: center;
}
/* banner cover style */
header {
  background-image: url("../images/donation1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.banner {
  text-align: center;
  padding: 175px 250px;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 65px;
  font-weight: 700;
  color: #ffffff;
}
.title-description {
  font-size: 18px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* Section Styles */
.donate-today {
  text-align: center;
  padding: 0 250px;
}
.donate-today .section-title {
  margin-bottom: 20px;
}
.donate-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #707070;
  margin-bottom: 20px;
}
.donate-pay {
  margin-bottom: 60px;
}
.donate-items {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.donate-today .money {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #707070;
  background-color: #fafafa;
  padding: 44px 24px;
  border-radius: 5px;
}
.donate-today #active {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ff5959;
  background-color: #fafafa;
  padding: 44px 24px;
  border: 2px solid #ff5959;
  border-radius: 5px;
}
.other-amount input[type="number"] {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #707070;
  width: 100%;
  text-align: center;
  border: none;
  margin-bottom: 10px;
}
.other-amount .btn-primary {
  margin-top: 30px;
}
/* Donate plan Design */
.donate-plan {
  margin: 0 150px;
}
.donate-plan .section-title {
  margin-bottom: 20px;
}
.section-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #707070;
  margin-bottom: 20px;
  padding: 0 200px;
}
.plan-items {
  margin-top: 50px;
  display: flex;
  gap: 24px;
}
.food {
  background-color: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
}
.shelter {
  background-color: rgba(255, 89, 89, 0.1);
  border-radius: 5px;
}
.education {
  background-color: #fff4d6;
  border-radius: 5px;
}
.plan-items img {
  padding-top: 64px;
  padding-left: 22px;
}
.plan-title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #121212;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 22px;
}
.plan-description {
  color: #707070;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 60px;
}
/* Contribute Section styls */
.contribute {
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 130px;
}
.contribute-items {
  display: flex;
  align-items: center;
  gap: 80px;
}
.item-info .title {
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #121212;
  margin-bottom: 20px;
}
.item-info .description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #707070;
  margin-bottom: 20px;
}
.item-info .sub-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #707070;
  margin-bottom: 20px;
}
.contribute img {
  margin: 0 auto;
  max-width: 1000px;
  max-height: 1000px;
  width: 456px;
  height: 477px;
  padding-right: 50px;
  /* border-radius: 10%; */
}
/* Update Styles */
.updates{
    margin: 0 250px;
    text-align: center;
}
.updates .section-description{
    margin-top: 20px;
}
.email{
    display: flex;
    gap: none;
    justify-content: center;
    align-items: center;
    background-color:#FFF4D6;
    padding: 75px 190px;
}
.email input{
    padding: 14px 218px 14px 12px;
    color: #707070 ;
    border: none;
    border-radius: 5px 0 0 5px;
}